body {
    font-family: "Lucida Sans", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #6cb5f5;
    color: white;
    padding: 0px 15px 0px;
}

.hlogo {
    font-weight: 900;
    font-size: 22px;
    padding-left: 120px;
}
a {
    text-decoration: none;
    color: white;
}
ul,
li {
    display: flex;
    list-style: none;
    gap: 15px;
}

.navlinks {
    display: flex;
    padding-right: 120px;
}

.toptxt {
    padding-left: 137px;
    background-color: #6cb5f5;
    color: white;
}

.bold {
    width: 300px;
    font-weight: 900;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.desc {
    width: 400px;
    margin-top: 0px;
    color: #eeeeee;
    padding-top: 10px;
}

.belowheader {
    display: flex;
    gap: 172px;
    height: 400px;
    align-items: center;
    background-color: #6cb5f5;
}

.dawgimg {
    display: inline-flex;
    flex-direction: column;
    font-size: 10px;
    color: #eeeeee;
}

.btnone {
    width: auto;
    height: 35px;
    background-color: #2597fa;
    color: white;
    border-color: #abd8ff;
    font-weight: 900;
    font-size: 15px;
    border-radius: 12px;
    border-color: transparent;
    padding: 0px 25px 0px;
}

.imgsection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.midtxt {
    font-weight: 900;
    font-size: 28px;
    text-align: center;
}
.fourboys,
.fourtxt {
    display: flex;
    gap: 25px;
    border: 3px, #2597fa;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
    width: 675px;
}
.fourtxt {
    margin-bottom: 50px;
}
.dogs {
    width: 150px;
    height: 150px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    padding: 60px;
    background-color: #ededed;
}

.dogtxt {
    font-style: italic;
    font-size: 32px;
    font-weight: 100;
    width: 800px;
    align-self: center;
    margin: 0;
}
.fromdog {
    font-weight: 900;
    align-self: flex-end;
    padding-right: 160px;
}
