body {
    font-family: "Lucida Sans", sans-serif;
    overflow: hidden;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #6cb5f5;
    color: white;
    padding: 0px 15px 0px;
}

.hlogo {
    font-weight: 900;
    font-size: 22px;
    padding-left: 120px;
}
a {
    text-decoration: none;
    color: white;
}
ul,
li {
    display: flex;
    list-style: none;
    gap: 15px;
}
.navlinks {
    display: flex;
    padding-right: 120px;
}

.toptxt {
    padding-left: 137px;
    background-color: #6cb5f5;
    color: white;
}

.bold {
    width: 300px;
    font-weight: 900;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.desc {
    width: 400px;
    margin-top: 0px;
    color: #eeeeee;
}

.belowheader {
    display: flex;
    gap: 172px;
    height: 400px;
    align-items: center;
    background-color: #6cb5f5;
}

.btnone {
    width: auto;
    height: 35px;
    background-color: #2597fa;
    color: white;
    border-color: #abd8ff;
    font-weight: 900;
    font-size: 15px;
    border-radius: 12px;
    border-color: transparent;
    padding: 0px 25px 0px;
}

.midtxt {
    font-weight: 900;
    font-size: 28px;
    text-align: center;
}
