body {
    font-family: "Lucida Sans", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #6cb5f5;
    color: white;
    padding: 0px 15px 0px;
}

.hlogo {
    font-weight: 900;
    font-size: 22px;
    padding-left: 120px;
}
a {
    text-decoration: none;
    color: white;
}
ul,
li {
    display: flex;
    list-style: none;
    gap: 15px;
}

.navlinks {
    display: flex;
    padding-right: 120px;
}

.toptxt {
    padding-left: 137px;
    background-color: #6cb5f5;
    color: white;
}

.bold {
    width: 300px;
    font-weight: 900;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.desc {
    width: 400px;
    margin-top: 0px;
    color: #eeeeee;
    padding-top: 10px;
}

.belowheader {
    display: flex;
    gap: 172px;
    height: 400px;
    align-items: center;
    background-color: #6cb5f5;
}

.dawgimg {
    font-size: 10px;
    color: #eeeeee;
}

.btnone {
    width: auto;
    height: 35px;
    background-color: #2597fa;
    color: white;
    border-color: #abd8ff;
    font-weight: 900;
    font-size: 15px;
    border-radius: 12px;
    border-color: transparent;
    padding: 0px 25px 0px;
}

.imgsection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.midtxt {
    font-weight: 900;
    font-size: 28px;
    text-align: center;
}
.fourboys,
.fourtxt {
    display: flex;
    gap: 25px;
    text-align: center;
    font-size: 14px;
    width: 705px;
}
.fourtxt {
    margin-bottom: 50px;
    gap: 40px;
}
.dogs {
    width: 150px;
    height: 150px;
    border:
        4px,
        solid #6cb5f5;
    border-radius: 12px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    padding: 120px;
    background-color: #ededed;
}

.dogtxt {
    font-style: italic;
    font-size: 32px;
    font-weight: 100;
    width: 800px;
    align-self: center;
    margin: 0;
}
.fromdog {
    font-weight: 900;
    align-self: flex-end;
    padding-right: 160px;
}
.actcall {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 80px 150px 80px 150px;
    padding: 40px 80px 40px 80px;
    background-color: #2597fa;
    border: 2px solid #2597fa;
    border-radius: 20px;
    gap: 2px;
}

.actone,
.acttwo {
    color: white;
    margin: 0;
    width: 450px;
}
.actone {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.acttwo {
    font-weight: 100;
    font-size: 14px;
    margin: 0;
}
.btntwo {
    display: inline-flex;
    text-align: center;
    width: auto;
    background-color: transparent;
    color: white;
    border: 2px, solid, white;
    font-weight: 900;
    font-size: 15px;
    border-radius: 12px;
    padding: 8px 25px 8px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    margin: 0;
    font-weight: 300;
    background-color: #6cb5f5;
    color: white;
    padding: 0px 15px 0px;
}
